body{
    background-color: cyan;
    color: black;
    margin:0;
    padding:10px;
}
header {
    background-color: black;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}